# Токен Telegram-бота (пример значения)
TELEGRAM_BOT_TOKEN=телеграм_токен

# === ТОКЕНЫ ДЛЯ ОБНОВЛЕНИЯ ===

# Токен для обновления Base версии
UPDATE_TOKEN_BASE=TOKEN

# Токен для обновления Pro версии  
UPDATE_TOKEN_PRO=TOKEN

# Токен для обновления Max версии
UPDATE_TOKEN_MAX=TOKEN

# === API КЛЮЧИ СЕРВИСОВ ===

# Ключ авторизации для сервиса SaluteSpeech
SALUTESPEECH_AUTH_KEY=ваш_api_ключ_salutespeech
